# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# SQLite DB
attendance.db

# Face encodings
student_faces/

# IDE / editor stuff
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
